/*-- scss:defaults --*/

.quarto-title-banner {
  padding-top: 10em;
  padding-bottom: 10em;
}

.splash {
  background-image: "figures/hk.jpeg";
  background-size: cover;
  background-repeat: no-repeat;
}